################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentAdminPortal.UI/FileContentIndex
/studentadminportal-ui/.vs/studentadminportal-ui/FileContentIndex
